h1{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    color:aquamarine;
}

button{
    color: white;
    font-weight: 600;
    margin: 0 30px;
    border-radius: 10px;
    padding: 5px 10px;
}

#decrease{
    background-color: rgb(191, 65, 65);
}

#reset{
    background-color: rgb(59, 59, 180);
}

#increase{
    background-color: rgb(37, 139, 37);
}